[Unit]
Description=CM4all Pond
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
User=cm4all-pond
ExecStart=/usr/sbin/cm4all-pond
Restart=on-failure

CPUSchedulingPolicy=batch

# This allows the kernel to merge CPU wakeups, the default of 50ns is
# too fine.
TimerSlackNSec=100ms

LimitNPROC=1

# Resource limits
TasksMax=16
LimitNOFILE=16384

# Paranoid security settings
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes

[Install]
WantedBy=multi-user.target
