[Unit]
Description=CM4all Pond
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
User=cm4all-pond
ExecStart=/usr/sbin/cm4all-pond
Restart=on-failure

CPUSchedulingPolicy=batch

LimitNPROC=1

# enable crash dumps
LimitCORE=infinity

ProtectSystem=full
NoNewPrivileges=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6

[Install]
WantedBy=multi-user.target
