Source: cm4all-pond
Section: non-free/admin
Priority: extra
Maintainer: Max Kellermann <mk@cm4all.com>
Build-Depends: debhelper (>= 12~), dh-systemd,
 meson (>= 0.47),
 g++ (>= 4:6),
 libc6-dev (>= 2.13),
 libboost-dev (>= 1.54),
 libboost-system-dev (>= 1.54),
 libboost-filesystem-dev (>= 1.54),
 libsystemd-dev,
 libavahi-client-dev,
 python3-sphinx
Standards-Version: 4.0.0
Vcs-git: git://github.com/CM4all/pond

Package: cm4all-pond
Architecture: any
Depends: ${shlibs:Depends}, systemd-sysv, adduser
Suggests: avahi-daemon
Description: Pond log database server
 Pond is a volatile round-robin database for log messages.

Package: cm4all-pond-client
Architecture: any
Depends: ${shlibs:Depends}
Suggests: avahi-daemon
Description: Pond log database client
 Pond is a volatile round-robin database for log messages.
 .
 This package contains a simple and generic client.

Package: cm4all-pond-doc
Section: non-free/doc
Architecture: all
Description: Documentation for cm4all-pond
 Pond is a volatile round-robin database for log messages.
 .
 This package contains documentation.
