Source: cm4all-pond
Section: non-free/admin
Priority: extra
Maintainer: Max Kellermann <mk@cm4all.com>
Build-Depends: debhelper (>= 13~),
 meson (>= 0.47),
 g++ (>= 4:6),
 libc6-dev (>= 2.13),
 libboost-dev (>= 1.54),
 libboost-system-dev (>= 1.54),
 libboost-filesystem-dev (>= 1.54),
 libsystemd-dev,
 libavahi-client-dev,
 libgeoip-dev,
 libz-dev,
 python3-sphinx
Standards-Version: 4.0.0
Vcs-Browser: https://github.com/CM4all/pond
Vcs-Git: git://github.com/CM4all/pond

Package: cm4all-pond
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 systemd-sysv
Suggests: avahi-daemon
Description: Pond log database server
 Pond is a volatile round-robin database for log messages.

Package: cm4all-pond-client
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: avahi-daemon, geoip-database
Description: Pond log database client
 Pond is a volatile round-robin database for log messages.
 .
 This package contains a simple and generic client.

Package: cm4all-pond-doc
Section: non-free/doc
Architecture: all
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Description: Documentation for cm4all-pond
 Pond is a volatile round-robin database for log messages.
 .
 This package contains documentation.
