#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

MESON_OPTIONS = \
	-Ddocumentation=enabled \
	-Dsystemd=enabled \
	-Dgeoip=enabled \
	-Dzeroconf=enabled \
	--werror

%:
	dh $@ --restart-after-upgrade --with sphinxdoc

override_dh_auto_configure:
	dh_auto_configure -- $(MESON_OPTIONS)
